<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nitto.tushar.nrrii">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utils.EcommerceApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CartActivity" />
        <activity android:name=".ProductDetail" />
        <activity android:name=".Activity.MyOrdersActivity" />
        <activity android:name=".ShippingAndBillingAddressActivity" />
        <activity android:name=".PaymentMethodsActivity" />
        <activity android:name=".CartSummaryActivity" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DressViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.MenuItemsActivity" />
        <activity
            android:name=".Activity.MyProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProductDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CheckoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ShippingAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.PaymentMethodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CongratulationScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoggedInShippingAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProductCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.FullScreenImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>